rutas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="rutas">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="ruta">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="nombre" type="xs:string" />
              <xs:element name="tipo" type="xs:string" />
              <xs:element name="transporte" type="xs:string" />
              <xs:element name="fechaInicio" type="xs:string" />
              <xs:element name="horaInicio" type="xs:string" />
              <xs:element name="tiempoDuracion" type="xs:string" />
              <xs:element name="agenciaOrganizadora" type="xs:string" />
              <xs:element name="descripcionRuta" type="xs:string" />
              <xs:element name="personasAdecuadas" type="xs:string" />
              <xs:element name="lugarInicio" type="xs:string" />
              <xs:element name="direccionInicio" type="xs:string" />
              <xs:element name="coordenadasInicio" type="xs:string" />
              <xs:element name="referencias">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="referencia" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="recomendacion" type="xs:string" />
              <xs:element name="hitos">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="hito">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="nombreHito" type="xs:string" />
                          <xs:element name="descripcion" type="xs:string" />
                          <xs:element name="coordenadas" type="xs:string" />
                          <xs:element name="distancia" type="xs:string" />
                          <xs:element name="fotografiaHito" type="xs:string" />
                          <xs:element minOccurs="0" name="videoHito" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="unidad" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>